* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  cursor: url(https://cur.cursors-4u.net/movie/mov-1/mov29.ani), url(https://cur.cursors-4u.net/movie/mov-1/mov29.png), auto !important;
} 
